//- 簡介
div(id="#{resume.data[0].id}")
    .jumbotron.wow.fadeIn
        h1
            |#{resume.data[0].name}
        hr(class="my-4")
        .card
            .card-block
                div(class="col-md-2 float-right")
                    img(class="img-fluid rounded-circle",src="#{resume.data[0].content.photo}")
                h3(class="card-title") #{resume.data[0].content.name} 
                    sub (暱稱)
                p(class="card-text") Email: #{resume.data[0].content.email}
                p(class="card-text")
                    each insterested,i in resume.data[0].content.interesteds
                        h5(class="badge badge-lg badge-default")
                            |#{insterested}
                p(class="card-text")
                    |#{resume.data[0].content.description}
        p.text-center
            each social,i in resume.data[0].content.socials
                a(class="btn btn-success btn-blank",href="#{social.link}")
                    i(class="#{social.icon}",aria-hidden="true")
                    |#{social.text}
        +navigate("skills")