extend partial/_layout.jade
block nav
    include partial/_navbar.jade    
block content
    p(id="about")
        .jumbotron.wow.fadeIn
            h1
                |#{menu.list[0].name}
            hr(class="my-4")
            .card
                .card-block 
                    h3(class="card-title") 姓名：#{resume.data[0].content.name}
                    p(class="card-text")
                        each insterested,i in resume.data[0].content.interesteds
                            h5(class="badge badge-lg badge-default")
                                |#{insterested}
                    p(class="card-text")
                        |#{resume.data[0].content.description}
            p
                each social,i in resume.data[0].content.socials
                    a(class="btn btn-success btn-blank",href="#{social.link}")
                        i(class="#{social.icon}",aria-hidden="true")
                        |&nbsp#{social.text}
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#skills",data-id="skills")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")

    
    p(id="skills")
        .jumbotron.wow.fadeIn
            h1
                |#{menu.list[1].name}
            hr(class="my-4")
            div
                each skill,i in resume.data[1].skills
                    .card
                        .card-block
                            h4(class="card-title")|#{skill.name}
                            p(class="card-text")|#{skill.detail}
                            p 
                                each _,i in Array(10)
                                    if i < skill.star
                                        i(class="fa fa-star",aria-hidden="true")
                                    else
                                        i(class="fa fa-star-o",aria-hidden="true")
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#works",data-id="works")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")
    
    p(id="works")
        .jumbotron.wow.fadeIn
            h1
                |#{menu.list[2].name}
            hr(class="my-4")
            div
                each work,i in resume.data[2].works
                    .card
                        .card-block
                            h3(class="card-title")|#{work.name}
                            p(class="card-text")
                                |#{work.description}
                                .text-right
                                    a(class="btn btn-md btn-info" href="#{work.url}")
                                        i(class="fa fa-link" aria-hidden="true")
                                        |連結
                            .text-left
                                each use,i in work.uses
                                        div(class="badge badge-lg badge-default")
                                            |#{use}
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#experiences",data-id="experiences")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")

        p(id="experiences")
        .jumbotron.wow.fadeIn
            h1
                |#{menu.list[3].name}
            hr(class="my-4")
            div
                each experience,i in resume.data[3].experiences
                    .card
                        .card-block
                            h3(class="card-title")|#{experience.name}
                            p(class="card-text")
                                u
                                    |任職期間：#{experience.time} 
                            p(class="card-text")
                                |#{experience.description}
                            .text-left
                                each use,i in experience.uses
                                        div(class="badge badge-lg badge-default")
                                            |#{use} 
        
        .top
            i(class="fa fa-arrow-up animated infinite bounceInUp",aria-hidden="true")