extend partial/_layout.jade
block nav
    include partial/_navbar.jade    
block content
    //- 簡介
    div(id="#{resume.data[0].id}")
        .jumbotron.wow.fadeIn
            h1
                |#{resume.data[0].name}
            hr(class="my-4")
            .card
                .card-block 
                    
                    div(class="col-md-2 float-right")
                        img(class="img-fluid rounded-circle",src="#{resume.data[0].content.photo}")
                    h3(class="card-title") #{resume.data[0].content.name} 
                        sub (暱稱)
                    p(class="card-text") Email: #{resume.data[0].content.email}
                    p(class="card-text")
                        each insterested,i in resume.data[0].content.interesteds
                            h5(class="badge badge-lg badge-default")
                                |#{insterested}
                    p(class="card-text")
                        |#{resume.data[0].content.description}
            p.text-center
                each social,i in resume.data[0].content.socials
                    a(class="btn btn-success btn-blank",href="#{social.link}")
                        i(class="#{social.icon}",aria-hidden="true")
                        |&nbsp#{social.text}
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#skills",data-id="skills")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")

    //- 技能
    div(id="#{resume.data[1].id}")
        .jumbotron.wow.fadeIn
            h1
                |#{resume.data[1].name}
            hr(class="my-4")
            div(class="row")
                each skill,i in resume.data[1].skills
                    div(class="card col-md-6")
                        div(class="card-block")
                            i(class="#{skill.icon}")
                            h4(class="card-title")|#{skill.name}
                            p(class="card-text")|#{skill.detail}
                            //展示星星數
                            p 
                                each _,i in Array(10)
                                    if i < skill.star
                                        i(class="fa fa-star",aria-hidden="true")
                                    else
                                        i(class="fa fa-star-o",aria-hidden="true")
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#works",data-id="works")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")
    //- 作品
    div(id="#{resume.data[2].id}")
        .jumbotron.wow.fadeIn
            h1
                |#{resume.data[2].name}
            hr(class="my-4")
            div(class="row")
                each work,i in resume.data[2].works
                    .card.col-md-6
                        .card-block
                            h3(class="card-title")|#{work.name}
                            .text-left
                                each use,i in work.uses
                                        div(class="badge badge-lg badge-default")
                                            |#{use}
                            span(class="card-text")
                                |#{work.description}
                                .text-right
                                    a(class="btn btn-md btn-info" href="#{work.url}")
                                        i(class="fa fa-link" aria-hidden="true")
                                        |連結
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#experiences",data-id="experiences")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")
    //- 經歷
    div(id="#{resume.data[3].id}")
        .jumbotron.wow.fadeIn
            h1
                |#{resume.data[3].name}
            hr(class="my-4")
            div
                each experience,i in resume.data[3].experiences
                    .card
                        .card-block
                            h3(class="card-title")|#{experience.name}
                            p(class="card-text")
                                div
                                    |任職期間：#{experience.time} 
                            p(class="card-text")
                                |#{experience.description}
                            .text-left
                                each use,i in experience.uses
                                        div(class="badge badge-lg badge-default")
                                            |#{use} 
            .text-center
                a(class="btn btn-lg btn-primary btn-more",href="#others",data-id="other")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")

    //- 其他
    div(id="#{resume.data[4].id}")
        .jumbotron.wow.fadeIn
            h1 #{resume.data[4].name}
            hr(class="my-4")
            div.row
                each content,i in resume.data[4].contents
                    .card.col-md-12
                        .card-block
                            h3(class="card-title")|#{content.title}
                            div(class="badge badge-lg badge-default")
                                |#{content.time}
                            p(class="card-text")
                                |#{content.description}
                            .text-right
                                a(class="btn btn-md btn-info" href="#{content.link}")
                                    i(class="fa fa-link" aria-hidden="true")
                                        | 連結
            div.text-center
                a(class="btn btn-lg btn-primary btn-more",href="#contact-me",data-id="contact-me")
                    i(class="fa fa fa-arrow-down animated infinite fadeIn",aria-hidden="true")

    //- 聯絡我的表單
    div(id="contact-me")
        div.jumbotron.wow.fadeIn
            h1 聯絡我吧
            hr(class="my-4")
            p
                |如果有什麼問題，歡迎聯絡我喔！
            form(action="mailto:r567tw@gmail.com")
                div(class="form-group")
                    label(for="name") 姓名：
                    input(id="name",class="form-control",type="text",name="name",placeholder="請輸入你的姓名")
                div(class="form-group")
                    label(for="sender") 電子信箱：
                    input(id="sender",class="form-control",type="email",name="sender",placeholder="請輸入你的電子信箱")
                div(class="form-group")
                    label(for="subject") 主旨：
                    input(id="subject",class="form-control",type="text",name="subject",placeholder="主旨")
                div(class="form-group")
                    label(for="body") 訊息內容：
                    textarea(id="body",name="body",class="form-control",placeholder="請填入你要輸入的訊息")
                div(class="form-group text-center")
                    button(class="btn btn-lg btn-primary",type="sumbit") 送出訊息

    .top
        i(class="fa fa-arrow-up",aria-hidden="true")